.home_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Roboto";
    background-color: #FAFAC8;
}

.home_title {
    position: absolute;
    padding-top: 70px;
}

.home_banner {
    background-color: #5B6C87;
    color: white;
    width: 100%;
    padding: 10px 0;
    position: absolute;
    top: 0;
    text-align: center;
    font-size: 1.5em;
}

.home_link_login {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #F29727;
    color: white;
    font-family: "Roboto";
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 140px;
    text-decoration: none;
}

.home_link_login:hover { color: #ffffff; }

.home_link_register {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #F29727;
    color: white;
    font-family: "Roboto";
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
}
.home_link_register:hover { color: #ffffff; }