.-profile-img {
    height: 3rem;
}

.-search-container {
    padding-top: 4rem;
}

.-searchbar {
    font-family: 'Merriweather', serif;
    font-size: 3rem;
}

.-events-container {
    padding-bottom: 8rem;
}

button.-eventholder {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    border-bottom: solid;
    border-width: 2px;
    border-radius: 0;
    margin: 0 1rem;
    padding: 1rem 0;
}

button.-eventholder:hover {
    color: #FFE680;
}