.-login-container {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.-login-container {
    /* background-color: #FFE680; */
}

.-input {
    font-family: 'Merriweather', sans-serif;
}

.-register-link {
    color: #000000;
    /* border-radius: 0; */
    border: #000000;
    border-width: 1rem;
    background-color: #FFFFFF;
    padding: 0.5rem;
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}


button.-register-button {
    color: #000000;
    border-radius: 0;
    border-width: 1rem;
    border: #000000;
    background-color: #FFFFFF;
    padding: 0.5rem;
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.-register-link:hover {
    color: #4d4d4d;
}

button.-login-button {
    color: #000000;
    border-radius: 0;
    background-color: #FFE680;
    padding: 0.5rem;
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

button.-login-button:hover {
    /* color: #4d4d4d; */
}